<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Admin Dashboard</a>
        </div>
      </div>
</nav>

<div class="row">
    <div class="col-md-4">
      <app-wrapper-brush-zoom-2></app-wrapper-brush-zoom-2>
    </div>
    <div class="col-md-4">    
      <app-wrapper-drag-zoom-2></app-wrapper-drag-zoom-2>
    </div>
    
    <div class="col-md-4">
      <app-wrapper-voronoi-spirals-3></app-wrapper-voronoi-spirals-3>
 </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="container">
      <h4>Notifications</h4>
      <div class="table table-hover">
        <thead>
          <tr>
            <th>Message</th>
            <th>Timestamp</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of allNotifications" 
            [ngClass]="{'warning': item.level == 'WARNING', 
            'info' : item.level == 'INFO', 'danger' : item.level == 'FAILED'}">
            <th>{{item.message}}</th>
            <th>{{item.timeStamp |  date: 'medium'}}</th>
          </tr>
        </tbody>
      </div>
    </div>
    </div>

</div>