/*.*~
build/
build.properties
lockfile
cache/
/database*.properties
/tools/nodejs/node_modules
npm-debug.log
/tools/jdiff/diff
/tools/jdiff/tsas11_0.xml
/installer/tss
/installer/nm-remote
/.clover
target/
/.tomcatplugin
/maven
/node_modules
/frontend/src/main/frontend/node
/frontend/src/main/frontend/node_modules
*.DS_Store
*.iml
*.idea
*.swp
*private_*
*~
/modules/*/bin/
/modules/.settings
/modules/*/.settings
/modules/*/.classpath
/modules/.project
/modules/*/.project
/modules/node-manager-remote-jetty/dependency-reduced-pom.xml
/modules/server/src/cpp/WindowsDomainConnector/ipch
/.idea/encodings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/scopes/scope_settings.xml
/.idea/tsas.iml
/.idea/vcs.xml
/.idea/workspace.xml
/projectFilesBackup/.idea/workspace.xml
org.eclipse.core.resources.prefs
org.eclipse.m2e.core.prefs
.jsdtscope
org.eclipse.jdt.core.prefs
org.eclipse.wst.common.component
org.eclipse.wst.common.project.facet.core.xml
org.eclipse.wst.jsdt.ui.superType.container
org.eclipse.wst.jsdt.ui.superType.name
org.eclipse.wst.validation.prefs
rebel.xml
/modules/terr-service-client/dependency-reduced-pom.xml
/sdk/.classpath
/sdk/.project
.checkstyle
/modules/bin/
*.project
